@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%)
}

html {
    height: 100%;
}

ul{
    list-style: none;
}

body{
    font-family:'Kumbh Sans', sans-serif;
    background: linear-gradient(
        var(--soft-blue), 
        var(--soft-violet));
    color: var(--very-dark-desaturated-blue);
}

.image-container {
    width:40%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.questions-container {
    width: 60%;
    padding: 20px;
}

.faq-container{
    display:flex;
    flex-direction: row;
    background: white;
    width: 70vw;
    border-radius: 20px;
    margin: auto;
    margin-top: 5rem;
}

.faq-title {
    padding-left: 40px;
}

.question {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.question:hover {
    color: var(--soft-red);
} 

.arrow-down {
    height: 10px;
}

.rotate-180 {
    transform: rotate(180deg);
}
hr {
border-top: 0.5px var(--light-grayish-blue);
}